section.catalog.products
  //- Include Breadcrumbs ('.breadcrumbs')
  include /common/blocks/breadcrumbs/block

  +breadcrumbs([
    {
      txt: 'Главная'
    },
    {
      txt: 'Продукция',
      class: 'active'
    }
  ])


  .container
    h1.catalog__title Каталог продукции

    .catalog-head
      a.btn.btn--back
        svg.icon(
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='#000'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        )
          path(d='M4 12h16M14 6l6 6-6 6')
        span.btn__txt <span class='edited'>Главная страница</span>

      .catalog-nav
        button.btn.btn--filled
          include ./icons/file.svg
          span.btn__txt Скачать <span class='edited'>полный</span> каталог


    .catalog__cont
      .catalog-sidebar
        span.catalog-sidebar__title Каталог ITK
        .search
          input.search__input(type='search' placeholder='Поиск по каталогу')

        ul.catalog-menu.tabs
          li.catalog-menu__item.item.active
            .tabs__item.head
              span.tabs__txt Шкафы монтажные
              include /common/icons/arrow.svg

            .catalog-menu-inner.content
              ul.catalog-menu-inner__list
                li.catalog-menu-inner__item.item
                  .head
                    span Шкафы сетевые напольные
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li
                      a(href='#') Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

                li.catalog-menu-inner__item.item
                  .head
                    span Шкафы серверные
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

                li.catalog-menu-inner__item.item
                  .head
                    span Стойки открытые
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

                li.catalog-menu-inner__item.item
                  .head
                    span Шкафы настенные
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

                li.catalog-menu-inner__item.item
                  .head
                    span Шкафы уличные
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

                li.catalog-menu-inner__item.item
                  .head
                    span Комплектующие и аксессуары для шкафов и стоек
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

          li.catalog-menu__item.item
            .tabs__item.head
              span.tabs__txt LAN-кабель и&nbsp;инструменты
              include /common/icons/arrow.svg

            .catalog-menu-inner.content.collapsed
              ul.catalog-menu-inner__list
                li.catalog-menu-inner__item.item
                  .head
                    span Шкафы сетевые напольные
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li
                      a(href='#') Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

                li.catalog-menu-inner__item.item
                  .head
                    span Шкафы сетевые напольные
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li
                      a(href='#') Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

                li.catalog-menu-inner__item.item
                  .head
                    span Шкафы сетевые напольные
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li
                      a(href='#') Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

          li.catalog-menu__item.item
            .tabs__item.head
              span.tabs__txt Компоненты СКС медные
              include /common/icons/arrow.svg
            .catalog-menu-inner.content.collapsed
              ul.catalog-menu-inner__list
                li.catalog-menu-inner__item.item
                  span.head Шкафы сетевые напольные
                  ul.content.collapsed
                    li
                      a(href='#') Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

                li.catalog-menu-inner__item.item
                  .head
                    span Шкафы сетевые напольные
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li
                      a(href='#') Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

          li.catalog-menu__item.item
            .tabs__item.head
              span.tabs__txt Компоненты СКС оптические
              include /common/icons/arrow.svg
            .catalog-menu-inner.content.collapsed
              ul.catalog-menu-inner__list
                li.catalog-menu-inner__item.item
                  .head
                    span Шкафы сетевые напольные
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li
                      a(href='#') Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

                li.catalog-menu-inner__item.item
                  .head
                    span Шкафы сетевые напольные
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li
                      a(href='#') Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

                li.catalog-menu-inner__item.item
                  .head
                    span Шкафы сетевые напольные
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li
                      a(href='#') Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

                li.catalog-menu-inner__item.item
                  .head
                    span Шкафы сетевые напольные
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li
                      a(href='#') Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

                li.catalog-menu-inner__item.item
                  .head
                    span Шкафы сетевые напольные
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li
                      a(href='#') Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

          li.catalog-menu__item.item
            .tabs__item.head
              span.tabs__txt Электропитание и&nbsp;мониторинг
              include /common/icons/arrow.svg

            .catalog-menu-inner.content.collapsed
              ul.catalog-menu-inner__list
                li.catalog-menu-inner__item.item
                  .head
                    span Шкафы сетевые напольные
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li
                      a(href='#') Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

                li.catalog-menu-inner__item.item
                  .head
                    span Шкафы сетевые напольные
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li
                      a(href='#') Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)

                li.catalog-menu-inner__item.item
                  .head
                    span Шкафы сетевые напольные
                    include /common/icons/arrow.svg
                  ul.content.collapsed
                    li
                      a(href='#') Шкафы LINEA S&nbsp;старой модификации (3&nbsp;местами)


        a.btn(href='#')
          span.btn__txt Прайс-лист
          svg.icon(
            xmlns='http://www.w3.org/2000/svg'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            fill='none'
            stroke='#000'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
          )
            path(d='M4 12h16M14 6l6 6-6 6')

      .catalog__content
        include /@products/products-catalog/block