.catalog-item
  .catalog-item__img-cont
    img.catalog-item__img(src='assets/img/@catalog-list/catalog-items/pic-01.jpg')

  .catalog-item__content
    .catalog-item__head
      h3.catalog-item__title Шкафы сетевые напольные
      svg.icon(
        xmlns='http://www.w3.org/2000/svg'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        stroke='#000'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
      )
        path(d='M4 12h16M14 6l6 6-6 6')

    p.catalog-item__p Напольные&nbsp;19&Prime; шкафы применяются для размещения различного телекоммуникационного 19-дюймового активного и&nbsp;пассивного оборудования и&nbsp;небольших серверов, а&nbsp;также специализированного оборудования стандарта&nbsp;19&Prime;, и&nbsp;отлично подходят для размещения как в&nbsp;офисных помещениях, так и&nbsp;в&nbsp;специализированных серверных комнатах. <br>Широкий диапазон типоразмеров и&nbsp;модификаций сетевых шкафов, а&nbsp;также наличие большого количества комплектующих и&nbsp;аксессуаров к&nbsp;ним позволяет заказчику подобрать необходимую спецификацию в&nbsp;соответствии со&nbsp;стоящими перед ним задачами, а&nbsp;соответствие российским и&nbsp;международным стандартам, таким как IEC 297, ГОСТ 28601, 32127-2013, EC&nbsp;60950-1-2014, обеспечивает совместимость с&nbsp;компонентами СКС и&nbsp;оборудованием других производителей. <br>Шкафы обладают современным привлекательным дизайном, но&nbsp;в&nbsp;то&nbsp;же время простой и&nbsp;удобной конструкцией, которая дает возможность эффективно справляться с&nbsp;задачами быстрого монтажа, администрирования и&nbsp;оперативного изменения конфигурации&nbsp;19&Prime; оборудования, задачей защиты этого оборудования и&nbsp;поддержания для него оптимального температурного режима. Доступ внутрь шкафа возможен со&nbsp;всех сторон, для ввода кабеля предусмотрены вводы в&nbsp;верхней и&nbsp;нижней части. Сборка шкафов возможна одним специалистом и&nbsp;занимает не&nbsp;более 30&nbsp;минут.

.catalog-item
  .catalog-item__img-cont
    img.catalog-item__img(src='assets/img/@catalog-list/catalog-items/pic-02.jpg')

  .catalog-item__content
    .catalog-item__head
      h3.catalog-item__title Шкафы серверные
      svg.icon(
        xmlns='http://www.w3.org/2000/svg'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        stroke='#000'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
      )
        path(d='M4 12h16M14 6l6 6-6 6')

    p.catalog-item__p Напольные&nbsp;19&Prime; шкафы применяются для размещения различного телекоммуникационного 19-дюймового активного и&nbsp;пассивного оборудования и&nbsp;небольших серверов, а&nbsp;также специализированного оборудования стандарта&nbsp;19&Prime;, и&nbsp;отлично подходят для размещения как в&nbsp;офисных помещениях, так и&nbsp;в&nbsp;специализированных серверных комнатах. <br>Широкий диапазон типоразмеров и&nbsp;модификаций сетевых шкафов, а&nbsp;также наличие большого количества комплектующих и&nbsp;аксессуаров к&nbsp;ним позволяет заказчику подобрать необходимую спецификацию в&nbsp;соответствии со&nbsp;стоящими перед ним задачами, а&nbsp;соответствие российским и&nbsp;международным стандартам, таким как IEC 297, ГОСТ 28601, 32127-2013, EC&nbsp;60950-1-2014, обеспечивает совместимость с&nbsp;компонентами СКС и&nbsp;оборудованием других производителей. <br>Шкафы обладают современным привлекательным дизайном, но&nbsp;в&nbsp;то&nbsp;же время простой и&nbsp;удобной конструкцией, которая дает возможность эффективно справляться с&nbsp;задачами быстрого монтажа, администрирования и&nbsp;оперативного изменения конфигурации&nbsp;19&Prime; оборудования, задачей защиты этого оборудования и&nbsp;поддержания для него оптимального температурного режима. Доступ внутрь шкафа возможен со&nbsp;всех сторон, для ввода кабеля предусмотрены вводы в&nbsp;верхней и&nbsp;нижней части. Сборка шкафов возможна одним специалистом и&nbsp;занимает не&nbsp;более 30&nbsp;минут.

.catalog-item
  .catalog-item__img-cont
    img.catalog-item__img(src='assets/img/@catalog-list/catalog-items/pic-03.jpg')

  .catalog-item__content
    .catalog-item__head
      h3.catalog-item__title Стойки открытые
      svg.icon(
        xmlns='http://www.w3.org/2000/svg'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        stroke='#000'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
      )
        path(d='M4 12h16M14 6l6 6-6 6')

    p.catalog-item__p Напольные&nbsp;19&Prime; шкафы применяются для размещения различного телекоммуникационного 19-дюймового активного и&nbsp;пассивного оборудования и&nbsp;небольших серверов, а&nbsp;также специализированного оборудования стандарта&nbsp;19&Prime;, и&nbsp;отлично подходят для размещения как в&nbsp;офисных помещениях, так и&nbsp;в&nbsp;специализированных серверных комнатах. <br>Широкий диапазон типоразмеров и&nbsp;модификаций сетевых шкафов, а&nbsp;также наличие большого количества комплектующих и&nbsp;аксессуаров к&nbsp;ним позволяет заказчику подобрать необходимую спецификацию в&nbsp;соответствии со&nbsp;стоящими перед ним задачами, а&nbsp;соответствие российским и&nbsp;международным стандартам, таким как IEC 297, ГОСТ 28601, 32127-2013, EC&nbsp;60950-1-2014, обеспечивает совместимость с&nbsp;компонентами СКС и&nbsp;оборудованием других производителей. <br>Шкафы обладают современным привлекательным дизайном, но&nbsp;в&nbsp;то&nbsp;же время простой и&nbsp;удобной конструкцией, которая дает возможность эффективно справляться с&nbsp;задачами быстрого монтажа, администрирования и&nbsp;оперативного изменения конфигурации&nbsp;19&Prime; оборудования, задачей защиты этого оборудования и&nbsp;поддержания для него оптимального температурного режима. Доступ внутрь шкафа возможен со&nbsp;всех сторон, для ввода кабеля предусмотрены вводы в&nbsp;верхней и&nbsp;нижней части. Сборка шкафов возможна одним специалистом и&nbsp;занимает не&nbsp;более 30&nbsp;минут.

.catalog-item
  .catalog-item__img-cont
    img.catalog-item__img(src='assets/img/@catalog-list/catalog-items/pic-04.jpg')

  .catalog-item__content
    .catalog-item__head
      h3.catalog-item__title Шкафы настенные
      svg.icon(
        xmlns='http://www.w3.org/2000/svg'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        stroke='#000'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
      )
        path(d='M4 12h16M14 6l6 6-6 6')

    p.catalog-item__p Напольные&nbsp;19&Prime; шкафы применяются для размещения различного телекоммуникационного 19-дюймового активного и&nbsp;пассивного оборудования и&nbsp;небольших серверов, а&nbsp;также специализированного оборудования стандарта&nbsp;19&Prime;, и&nbsp;отлично подходят для размещения как в&nbsp;офисных помещениях, так и&nbsp;в&nbsp;специализированных серверных комнатах. <br>Широкий диапазон типоразмеров и&nbsp;модификаций сетевых шкафов, а&nbsp;также наличие большого количества комплектующих и&nbsp;аксессуаров к&nbsp;ним позволяет заказчику подобрать необходимую спецификацию в&nbsp;соответствии со&nbsp;стоящими перед ним задачами, а&nbsp;соответствие российским и&nbsp;международным стандартам, таким как IEC 297, ГОСТ 28601, 32127-2013, EC&nbsp;60950-1-2014, обеспечивает совместимость с&nbsp;компонентами СКС и&nbsp;оборудованием других производителей. <br>Шкафы обладают современным привлекательным дизайном, но&nbsp;в&nbsp;то&nbsp;же время простой и&nbsp;удобной конструкцией, которая дает возможность эффективно справляться с&nbsp;задачами быстрого монтажа, администрирования и&nbsp;оперативного изменения конфигурации&nbsp;19&Prime; оборудования, задачей защиты этого оборудования и&nbsp;поддержания для него оптимального температурного режима. Доступ внутрь шкафа возможен со&nbsp;всех сторон, для ввода кабеля предусмотрены вводы в&nbsp;верхней и&nbsp;нижней части. Сборка шкафов возможна одним специалистом и&nbsp;занимает не&nbsp;более 30&nbsp;минут.

.catalog-item
  .catalog-item__img-cont
    img.catalog-item__img(src='assets/img/@catalog-list/catalog-items/pic-05.jpg')

  .catalog-item__content
    .catalog-item__head
      h3.catalog-item__title Шкафы уличные
      svg.icon(
        xmlns='http://www.w3.org/2000/svg'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        stroke='#000'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
      )
        path(d='M4 12h16M14 6l6 6-6 6')

    p.catalog-item__p Напольные&nbsp;19&Prime; шкафы применяются для размещения различного телекоммуникационного 19-дюймового активного и&nbsp;пассивного оборудования и&nbsp;небольших серверов, а&nbsp;также специализированного оборудования стандарта&nbsp;19&Prime;, и&nbsp;отлично подходят для размещения как в&nbsp;офисных помещениях, так и&nbsp;в&nbsp;специализированных серверных комнатах. <br>Широкий диапазон типоразмеров и&nbsp;модификаций сетевых шкафов, а&nbsp;также наличие большого количества комплектующих и&nbsp;аксессуаров к&nbsp;ним позволяет заказчику подобрать необходимую спецификацию в&nbsp;соответствии со&nbsp;стоящими перед ним задачами, а&nbsp;соответствие российским и&nbsp;международным стандартам, таким как IEC 297, ГОСТ 28601, 32127-2013, EC&nbsp;60950-1-2014, обеспечивает совместимость с&nbsp;компонентами СКС и&nbsp;оборудованием других производителей. <br>Шкафы обладают современным привлекательным дизайном, но&nbsp;в&nbsp;то&nbsp;же время простой и&nbsp;удобной конструкцией, которая дает возможность эффективно справляться с&nbsp;задачами быстрого монтажа, администрирования и&nbsp;оперативного изменения конфигурации&nbsp;19&Prime; оборудования, задачей защиты этого оборудования и&nbsp;поддержания для него оптимального температурного режима. Доступ внутрь шкафа возможен со&nbsp;всех сторон, для ввода кабеля предусмотрены вводы в&nbsp;верхней и&nbsp;нижней части. Сборка шкафов возможна одним специалистом и&nbsp;занимает не&nbsp;более 30&nbsp;минут.

.catalog-item
  .catalog-item__img-cont
    img.catalog-item__img(src='assets/img/@catalog-list/catalog-items/pic-06.jpg')

  .catalog-item__content
    .catalog-item__head
      h3.catalog-item__title Комплектующие и&nbsp;аксессуары для шкафов и&nbsp;стоек
      svg.icon(
        xmlns='http://www.w3.org/2000/svg'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        stroke='#000'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
      )
        path(d='M4 12h16M14 6l6 6-6 6')

    p.catalog-item__p Напольные&nbsp;19&Prime; шкафы применяются для размещения различного телекоммуникационного 19-дюймового активного и&nbsp;пассивного оборудования и&nbsp;небольших серверов, а&nbsp;также специализированного оборудования стандарта&nbsp;19&Prime;, и&nbsp;отлично подходят для размещения как в&nbsp;офисных помещениях, так и&nbsp;в&nbsp;специализированных серверных комнатах. <br>Широкий диапазон типоразмеров и&nbsp;модификаций сетевых шкафов, а&nbsp;также наличие большого количества комплектующих и&nbsp;аксессуаров к&nbsp;ним позволяет заказчику подобрать необходимую спецификацию в&nbsp;соответствии со&nbsp;стоящими перед ним задачами, а&nbsp;соответствие российским и&nbsp;международным стандартам, таким как IEC 297, ГОСТ 28601, 32127-2013, EC&nbsp;60950-1-2014, обеспечивает совместимость с&nbsp;компонентами СКС и&nbsp;оборудованием других производителей. <br>Шкафы обладают современным привлекательным дизайном, но&nbsp;в&nbsp;то&nbsp;же время простой и&nbsp;удобной конструкцией, которая дает возможность эффективно справляться с&nbsp;задачами быстрого монтажа, администрирования и&nbsp;оперативного изменения конфигурации&nbsp;19&Prime; оборудования, задачей защиты этого оборудования и&nbsp;поддержания для него оптимального температурного режима. Доступ внутрь шкафа возможен со&nbsp;всех сторон, для ввода кабеля предусмотрены вводы в&nbsp;верхней и&nbsp;нижней части. Сборка шкафов возможна одним специалистом и&nbsp;занимает не&nbsp;более 30&nbsp;минут.
