section.production-swiper
  .container
    .production-swiper__head
      h2.production-swiper__title Продукция ITK<sup class="reg">&reg;</sup> в&nbsp;этом решении

      .swiper__nav-cont
        .swiper-button-prev.production-swiper__btn-prev
          include /common/icons/arrow.svg

        .swiper-button-next.production-swiper__btn-next
          include /common/icons/arrow.svg

    .swiper-container
      .swiper-wrapper
        .swiper-slide
          .production-swiper__wrapper
            .production-swiper-item
              .production-swiper-item__img-cont
                img.production-swiper-item__bg-img(src='assets/img/production/bg-02.jpg')
                span.production-swiper-item__title Медные компоненты СКС

              .production-swiper-item__list
                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-панели

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-корды

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Плинты и&nbsp;кроссы

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Розетки, адаптеры и&nbsp;модули&nbsp;KJ

            .production-swiper-item
              .production-swiper-item__img-cont
                img.production-swiper-item__bg-img(src='assets/img/production/bg-04.jpg')
                span.production-swiper-item__title Оптические компоненты СКС

              .production-swiper-item__list
                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-панели

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-корды

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Плинты и&nbsp;кроссы

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Розетки, адаптеры и&nbsp;модули&nbsp;KJ

            .production-swiper-item
              .production-swiper-item__img-cont
                img.production-swiper-item__bg-img(src='assets/img/production/bg-05.jpg')
                span.production-swiper-item__title LAN-кабель

              .production-swiper-item__list
                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-панели

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-корды

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Плинты и&nbsp;кроссы

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Розетки, адаптеры и&nbsp;модули&nbsp;KJ


        .swiper-slide
          .production-swiper__wrapper
            .production-swiper-item
              .production-swiper-item__img-cont
                img.production-swiper-item__bg-img(src='assets/img/production/bg-02.jpg')
                span.production-swiper-item__title Медные компоненты СКС

              .production-swiper-item__list
                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-панели

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-корды

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Плинты и&nbsp;кроссы

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Розетки, адаптеры и&nbsp;модули&nbsp;KJ

            .production-swiper-item
              .production-swiper-item__img-cont
                img.production-swiper-item__bg-img(src='assets/img/production/bg-04.jpg')
                span.production-swiper-item__title Оптические компоненты СКС

              .production-swiper-item__list
                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-панели

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-корды

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Плинты и&nbsp;кроссы

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Розетки, адаптеры и&nbsp;модули&nbsp;KJ

            .production-swiper-item
              .production-swiper-item__img-cont
                img.production-swiper-item__bg-img(src='assets/img/production/bg-05.jpg')
                span.production-swiper-item__title LAN-кабель

              .production-swiper-item__list
                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-панели

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-корды

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Плинты и&nbsp;кроссы

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Розетки, адаптеры и&nbsp;модули&nbsp;KJ


        .swiper-slide
          .production-swiper__wrapper
            .production-swiper-item
              .production-swiper-item__img-cont
                img.production-swiper-item__bg-img(src='assets/img/production/bg-02.jpg')
                span.production-swiper-item__title Медные компоненты СКС

              .production-swiper-item__list
                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-панели

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-корды

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Плинты и&nbsp;кроссы

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Розетки, адаптеры и&nbsp;модули&nbsp;KJ

            .production-swiper-item
              .production-swiper-item__img-cont
                img.production-swiper-item__bg-img(src='assets/img/production/bg-04.jpg')
                span.production-swiper-item__title Оптические компоненты СКС

              .production-swiper-item__list
                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-панели

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-корды

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Плинты и&nbsp;кроссы

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Розетки, адаптеры и&nbsp;модули&nbsp;KJ

            .production-swiper-item
              .production-swiper-item__img-cont
                img.production-swiper-item__bg-img(src='assets/img/production/bg-05.jpg')
                span.production-swiper-item__title LAN-кабель

              .production-swiper-item__list
                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-панели

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Патч-корды

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Плинты и&nbsp;кроссы

                .production-swiper-item__list-item
                  svg.icon(
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='#000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                  )
                    path(d='M4 12h16M14 6l6 6-6 6')
                  span Розетки, адаптеры и&nbsp;модули&nbsp;KJ
