section.main
  .main__cont
    .main-swiper.swiper-container
      .swiper-wrapper
        .swiper-slide
          .main-swiper__item
            .container
              h1.main__title Полный спектр продукции <br>для IT-технологий

              ul.main-list
                li.main-list__item Оптические медные компоненты СКС,
                li.main-list__item Электропитание и мониторинг,
                li.main-list__item Монтажные шкафы,
                li.main-list__item LAN-кабель и инструменты,

              a.main__btn.btn(href='#')
                span.btn__txt В каталог продукции
                svg.icon(
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='#000'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                )
                  path(d='M4 12h16M14 6l6 6-6 6')

            span.main__bg-img(style='background-image: url("assets/img/@index/main/bg.jpg")')

        .swiper-slide
          .main-swiper__item
            .container
              h1.main__title Полный спектр продукции <br>для IT-технологий Полный спектр продукции <br>для IT-технологий

              ul.main-list
                li.main-list__item Оптические медные компоненты СКС,
                li.main-list__item Электропитание и мониторинг,
                li.main-list__item Монтажные шкафы,
                li.main-list__item LAN-кабель и инструменты,

              a.main__btn.btn(href='#')
                span.btn__txt В каталог продукции
                svg.icon(
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='#000'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                )
                  path(d='M4 12h16M14 6l6 6-6 6')

            span.main__bg-img(style='background-image: url("assets/img/@index/main/bg.jpg")')

        .swiper-slide
          .main-swiper__item
            .container
              h1.main__title Полный спектр продукции <br>для IT-технологий Полный спектр продукции <br>для IT-технологий Полный спектр продукции <br>для IT-технологий

              ul.main-list
                li.main-list__item Оптические медные компоненты СКС,
                li.main-list__item Электропитание и мониторинг,
                li.main-list__item Монтажные шкафы,
                li.main-list__item LAN-кабель и инструменты,

              a.main__btn.btn(href='#')
                span.btn__txt В каталог продукции
                svg.icon(
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='#000'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                )
                  path(d='M4 12h16M14 6l6 6-6 6')

            span.main__bg-img(style='background-image: url("assets/img/@index/main/bg.jpg")')

      .main-bottom
        .container
          .main-bottom__cont
            .swiper__nav-cont
              .swiper-button-prev.main__btn-prev
                include /common/icons/arrow.svg

              .swiper-pagination

              .swiper-button-next.main__btn-next
                include /common/icons/arrow.svg

            .main__video-link
              a.main__btn.btn(href='#')
                span.btn__txt Смотреть видео ITK<sup class="reg">&reg;</sup>
                svg.icon(
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='#000'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                )
                  path(d='M4 12h16M14 6l6 6-6 6')
