section.production
  .container
    .production-head
      h2.production__title Наша продукция
      a.btn
        span.btn__txt Перейти в каталог
        svg.icon(
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='#000'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        )
          path(d='M4 12h16M14 6l6 6-6 6')

      .search
        input.search__input(type='search' placeholder='Поиск по каталогу')

    .production-grid
      .production-grid__item.item-1
        .production-grid__list
          span.production-grid__name Шкафы монтажные

      .production-grid__item.item-2
        .production-grid__list
          span.production-grid__name Компоненты <br>СКС медные

      .production-grid__item.item-3
        .production-grid__list
          span.production-grid__name Электропитание и <br>мониторинг

      .production-grid__item.item-4
        .production-grid__list
          span.production-grid__name Компоненты <br>СКС медные

      .production-grid__item.item-5
        .production-grid__list
          span.production-grid__name LAN-кабель и инструменты
