.presscenter-head
  //- Include Breadcrumbs ('.breadcrumbs')
  include /common/breadcrumbs/block

  +breadcrumbs([
    {
      txt: 'Главная'
    },
    {
      txt: 'Пресс-центр',
      class: 'active'
    }
  ])

  .container
    h1.presscenter-head__title Пресс-центр

section.news-list
  .container
    h2.news-list__title Новости ITK

    .news-list__items
      .news-list-item
        .news-list-item__img-cont
          img.news-list-item__img(src='assets/img/@presscenter/news-list/pic-01.jpg')
        .news-list-item__content
          span.news-list-item__date 16 июня 2020
          h6.news-list-item__title Новые вебинары ITK&nbsp;&mdash; все об&nbsp;оптическом кабеле и&nbsp;монтаже СКС
          p.news-list-item__txt ITK<sup class="reg">&reg;</sup>&nbsp;&mdash; известная российская марка телекоммуникационного оборудования, под которой выпускается надежная продукция российского производства для&nbsp;ИТ рынка. ТМ&nbsp;ITK принадлежит одному из&nbsp;крупнейших производителей на&nbsp;российском электротехническом рынке Группе компаний IEK.
          a.news-list-item__link(href='#')
            span.news-list-item__link-txt Читать в&nbsp;источнике
            svg.icon(
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              fill='none'
              stroke='#000'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
            )
              path(d='M4 12h16M14 6l6 6-6 6')

      .news-list-item
        .news-list-item__img-cont
          img.news-list-item__img(src='assets/img/@presscenter/news-list/pic-02.jpg')
        .news-list-item__content
          span.news-list-item__date 1 июня 2020
          h6.news-list-item__title Новая акция ITK &laquo;Яблочное лето&raquo;&nbsp;&mdash; выиграйте iPhone&nbsp;XR!
          p.news-list-item__txt ITK<sup class="reg">&reg;</sup>&nbsp;&mdash; известная российская марка телекоммуникационного оборудования, под которой выпускается надежная продукция российского производства для&nbsp;ИТ рынка. ТМ&nbsp;ITK принадлежит одному из&nbsp;крупнейших производителей на&nbsp;российском электротехническом рынке Группе компаний IEK.
          a.news-list-item__link(href='#')
            span.news-list-item__link-txt Читать в&nbsp;источнике
            svg.icon(
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              fill='none'
              stroke='#000'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
            )
              path(d='M4 12h16M14 6l6 6-6 6')

      .news-list-item
        .news-list-item__img-cont
          img.news-list-item__img(src='assets/img/@presscenter/news-list/pic-03.jpg')
        .news-list-item__content
          span.news-list-item__date 26 июля 2020
          h6.news-list-item__title Новый вебинар ITK&nbsp;&mdash; 9&nbsp;июня в&nbsp;12:00 (мск) расскажем о&nbsp;кабеле витая пара
          p.news-list-item__txt ITK<sup class="reg">&reg;</sup>&nbsp;&mdash; известная российская марка телекоммуникационного оборудования, под которой выпускается надежная продукция российского производства для&nbsp;ИТ рынка. ТМ&nbsp;ITK принадлежит одному из&nbsp;крупнейших производителей на&nbsp;российском электротехническом рынке Группе компаний IEK.
          a.news-list-item__link(href='#')
            span.news-list-item__link-txt Читать в&nbsp;источнике
            svg.icon(
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              fill='none'
              stroke='#000'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
            )
              path(d='M4 12h16M14 6l6 6-6 6')

      .news-list-item
        .news-list-item__img-cont
          img.news-list-item__img(src='assets/img/@presscenter/news-list/pic-01.jpg')
        .news-list-item__content
          span.news-list-item__date 16 июня 2020
          h6.news-list-item__title Новые вебинары ITK&nbsp;&mdash; все об&nbsp;оптическом кабеле и&nbsp;монтаже СКС
          p.news-list-item__txt ITK<sup class="reg">&reg;</sup>&nbsp;&mdash; известная российская марка телекоммуникационного оборудования, под которой выпускается надежная продукция российского производства для&nbsp;ИТ рынка. ТМ&nbsp;ITK принадлежит одному из&nbsp;крупнейших производителей на&nbsp;российском электротехническом рынке Группе компаний IEK.
          a.news-list-item__link(href='#')
            span.news-list-item__link-txt Читать в&nbsp;источнике
            svg.icon(
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              fill='none'
              stroke='#000'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
            )
              path(d='M4 12h16M14 6l6 6-6 6')

      .news-list-item
        .news-list-item__img-cont
          img.news-list-item__img(src='assets/img/@presscenter/news-list/pic-02.jpg')
        .news-list-item__content
          span.news-list-item__date 16 июня 2020
          h6.news-list-item__title Новые вебинары ITK&nbsp;&mdash; все об&nbsp;оптическом кабеле и&nbsp;монтаже СКС
          p.news-list-item__txt ITK<sup class="reg">&reg;</sup>&nbsp;&mdash; известная российская марка телекоммуникационного оборудования, под которой выпускается надежная продукция российского производства для&nbsp;ИТ рынка. ТМ&nbsp;ITK принадлежит одному из&nbsp;крупнейших производителей на&nbsp;российском электротехническом рынке Группе компаний IEK.
          a.news-list-item__link(href='#')
            span.news-list-item__link-txt Читать в&nbsp;источнике
            svg.icon(
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              fill='none'
              stroke='#000'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
            )
              path(d='M4 12h16M14 6l6 6-6 6')

      a.btn(href='#')
        span.btn__txt посмотреть все новости ITK
        svg.icon(
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='#000'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        )
          path(d='M4 12h16M14 6l6 6-6 6')
