mixin list(title)
  ul.production-grid__list
    span.production-grid__name= title
    li.production-grid__list-item
      .production-grid__icon-cont
        svg.icon(
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='#000'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        )
          path(d='M4 12h16M14 6l6 6-6 6')
      a(href='#')
        span.link Витая пара внутренней прокладки

    li.production-grid__list-item
      .production-grid__icon-cont
        svg.icon(
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='#000'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        )
          path(d='M4 12h16M14 6l6 6-6 6')
      a(href='#')
        span.link Витая пара внешней прокладки

    li.production-grid__list-item
      .production-grid__icon-cont
        svg.icon(
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='#000'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        )
          path(d='M4 12h16M14 6l6 6-6 6')
      a(href='#')
        span.link Витая пара ШПД

    li.production-grid__list-item
      .production-grid__icon-cont
        svg.icon(
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='#000'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        )
          path(d='M4 12h16M14 6l6 6-6 6')
      a(href='#')
        span.link Кабели коаксиальные

    li.production-grid__list-item
      .production-grid__icon-cont
        svg.icon(
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='#000'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        )
          path(d='M4 12h16M14 6l6 6-6 6')
      a(href='#')
        span.link Разъемы для кабеля

    li.production-grid__list-item
      .production-grid__icon-cont
        svg.icon(
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='#000'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        )
          path(d='M4 12h16M14 6l6 6-6 6')
      a(href='#')
        span.link Инструменты и тестеры для витой пары
