section.catalog
  include ./data.pug

  //- Include Breadcrumbs ('.breadcrumbs')
  include /common/blocks/breadcrumbs/block

  //- Include Product-item ('.product-item')
  include ./blocks/product-item/block

  //- Navigation block ('.nav')
  include /common/blocks/navigation/block


  +breadcrumbs([
    {
      txt: 'Главная'
    },
    {
      txt: 'Продукция'
    },
    {
      txt: 'Шкафы монтажные'
    },
    {
      txt: 'Шкафы серверные',
      class: 'active'
    }
  ])


  .container
    h1.catalog__title Шкафы серверные

    .catalog-head
      a.btn.btn--back
        svg.icon(
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='#000'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        )
          path(d='M4 12h16M14 6l6 6-6 6')
        span.btn__txt <span class='edited'> Шкафы монтажные</span>

      .settings-menu.item
        button.settings-menu-btn.btn.btn--filled.head
          include ./icons/settings.svg
          span.settings-menu-btn__txt.btn__txt Параметры

        .settings-menu__content.content.collapsed
          .settings-menu__cont


      .catalog-nav
        .select-box.selectable
          span.select-box__cont Артикул

          ul.select-box__dropdown(style='display: none')
            li.active
              span.checkbox__txt Цена &#8593;
            li
              span.checkbox__txt Цена &#8595;
            li
              span.checkbox__txt Артикул

        button.catalog-nav__btn(data-layout='2')
          include ./icons/layout-btn-02.svg
        button.catalog-nav__btn.active(data-layout='1')
          include ./icons/layout-btn-01.svg


    .catalog__cont
      include ./blocks/catalog-sidebar/block

      .catalog__content
        .catalog__grid
          for item in ITEMS
            +item(item)

        +navigation('navigation__cont--column', true, true)


      include ./blocks/catalog-filters/block
