section.about
  .container
    .about__cont
      .about__content
        h2.about__title О&nbsp;торговой марке ITK<sup class="reg">&reg;</sup>
        p.about__txt ITK<sup class="reg">&reg;</sup>&nbsp;&mdash; известная российская марка телекоммуникационного оборудования, под которой выпускается надежная продукция российского производства для&nbsp;ИТ рынка. ТМ&nbsp;ITK принадлежит одному из&nbsp;крупнейших производителей на&nbsp;российском электротехническом рынке Группе компаний IEK.<br><br>Сегодня оборудование ITK<sup class="reg">&reg;</sup> используется в&nbsp;большом количестве престижных проектов и&nbsp;продолжает участвовать в&nbsp;программах реконструкции и&nbsp;обновления&nbsp;ИТ систем крупнейших российских и&nbsp;зарубежных организаций.

        a.btn(href='#')
          span.btn__txt Подробнее <span>о торговой марке</span>
          svg.icon(
            xmlns='http://www.w3.org/2000/svg'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            fill='none'
            stroke='#000'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
          )
            path(d='M4 12h16M14 6l6 6-6 6')

      .about__img-cont
        img.about__img(src='assets/img/@index/about/pic.jpg' alt='О торговой марке ITK')

    .about-numbers
      .about-numbers__row
        .about-numbers__col
          span.about-numbers__number <span class='animate-value' animate-number='5'></span>
          p.about-numbers__txt Логистических центров <br>на&nbsp;территории России
        .about-numbers__col
          span.about-numbers__number <span class='animate-value' animate-number='34000'></span>
          p.about-numbers__txt Квадратных метров складских <br>помещений класса &laquo;А&raquo;
        .about-numbers__col
          span.about-numbers__number <span class='animate-value' animate-number='10'></span>&nbsp;лет
          p.about-numbers__txt Расширеная гарантия <br>на&nbsp;всю продукцию ITK<sup class="reg">&reg;</sup>

    .about-bottom
      .about-bottom__img-cont
        picture
          source(
            srcset='assets/img/@index/about/pic-02-small.jpg'
            media='(max-width: 991px)'
          )
          img.about-bottom__img(src='assets/img/@index/about/pic-02.jpg' alt='О торговой марке ITK')

      p.about-bottom__p Вся продукция ITK<sup class="reg">&reg;</sup> соответствует российским и&nbsp;мировым стандартам. Независимо от&nbsp;места производства, она проходит тщательный контроль качества в&nbsp;соответствии со&nbsp;всеми требованиями международных стандартов.<br>При широком ассортименте готовых решений продукция ITK<sup class="reg">&reg;</sup> имеет идеальное для российского рынка соотношение высокого качества и&nbsp;доступной цены.
