mixin item(item)
  .representations-item
    span.representations-item__title= item.place

    .representations-item__info-cont
      .representations-item__info
        .representations-item__icon-cont
          include /@contacts/icons/map-marker.svg
        span.representations-item__txt= item.address

      a.representations-item__info(href='tel:'+ '+' + item.phone_1 +'')
        .representations-item__icon-cont
          include /@contacts/icons/phone.svg
        span.representations-item__txt= item.phone_1

      a.representations-item__info(href='tel:'+ '+' + item.phone_2 +'')
        .representations-item__icon-cont
          include /@contacts/icons/smartphone.svg
        span.representations-item__txt= item.phone_2

      a.representations-item__info(href='mailto:'+ item.email +'')
        .representations-item__icon-cont
          include /@contacts/icons/mail.svg
        span.representations-item__txt= item.email

    span.representations-item__txt-bold= item.person
    span.representations-item__txt-bold= item.position
